<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   - odTimeTracker CLI Application (PHP version).
   - 
   - @link https://github.com/odTimeTracker/odtimetracker-php-library for the canonical source repository
   - @copyright Copyright (c) 2015 Ondrej Donek (https://ondrejdonek.blogspot.com).
   - @license https://www.mozilla.org/MPL/2.0/ Mozilla Public License 2.0
   - @author Ondrej Donek, <ondrejd@gmail.com>
   -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd" 
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="false"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="true" 
         syntaxCheck="true" 
		 bootstrap="./phpunit_Bootstrap.php">
	<testsuites>
		<testsuite name="odTimeTrackerCli Tests">
			<directory>../module/odTimeTrackerCli/test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../src/odTimeTrackerCli/src</directory>
			<exclude>
				<directory>../src/odTimeTrackerCli/test</directory>
				<directory>../vendor</directory>
				<directory>../tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log
			highlowerbound="80"
			lowupperbound="50"
			highlight="true"
			yui="true"
			charset="UTF-8"
			target="../docs/generated/tests-coverage-report"
			type="coverage-html"/>
	</logging>
</phpunit>
